<nav class="nav header-container">
  <ul ngbNav #nav="ngbNav" class="nav-pills header-content">
    <li ngbNavItem>
      <a ngbNavLink>All</a>
      <!-- <ng-template ngbNavContent>First content</ng-template> -->
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Random</a>
      <!-- <ng-template ngbNavContent>Second content</ng-template> -->
    </li>
  </ul>
  <div class="search-container col-5 input-group">
    <input #searchInput type="text" class="form-control" (keyup.enter)="onSearchPress(searchInput.value)" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="button" (click)="onSearchPress(searchInput.value)">
        <fa-icon class="search" [icon]="faSearch"></fa-icon>
      </button>
    </div>
  </div>

    <!-- <div class="">
      <input class>
        <!-- <ng-template ngbNavContent>Second content</ng-template> -->
        
</nav>
<!-- NOTE: Used for submenu's in nav -->
<!-- <div [ngbNavOutlet]="nav" class="bg-header"></div> -->